@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Questrial&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #faf3e1;
  --color-secondary: #f5e7c6;
  --color-accent: #f5e7c6;
  --color-background: #222222;
  --color-highlight: #ff6d1f;

  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: var(--color-primary);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-highlight);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary);
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
}

/* Additional enhancements */
header, footer {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 1rem;
}

button {
  background-color: var(--color-highlight);
  color: var(--color-background);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
button:hover {
  background-color: var(--color-primary);
  color: var(--color-background);
}

.font-dm-serif {
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  font-style: normal;
}

.font-questrial {
  font-family: 'Questrial', sans-serif;
}